*{
    padding: 0;
    margin: 0;
}


ul{
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
    background-color: black;
    
}
 h2 a{
     position: absolute;
    text-decoration: none;
    color: white;
    padding: 25px 40px;
    font-style: italic;
    color: white;
    float:left;
}

li{
   float: right;
}



li a{
    display: block;
    text-decoration: none;
    color: white;
    padding:30px 40px;
    transition: 0.4s ease;
}

li a:hover{
    background-color: white;
    color: #333;
    border-radius: 10px;
}

main{
    text-align: center;
    margin: 20px 0 50px;
    display: flex;
    flex-wrap: wrap;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    background-color: black;
    color: white;
}

footer p{
    font-size: 15px;
}

img{
    width: 15rem;
    height: 10rem;
}



.welcome{
    padding: 200px 200px;
    text-align: center;
    color: white;
    background:url(images/headerBack.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome h1{
    padding-bottom:20px ;
    font-size: 45px;
}

.welcome p{
    font-size: 20px;
}

.blog{
    width: 20%;
    padding: 50px 80px;
    background-color: black;
    color: white;
    margin: 5px 5px;
}

.blog-btn{
    padding: 10px 10px;
    margin-top: 5px;
    background-color:#e84545;
    border-radius: 10px;
    border: none;
    transition: 0.2s ease;
    color: white;
    cursor: pointer;
}

.blog-btn:hover{
    background-color: white;
    color: #e84545;
}


/* contact page styling */
form{
    position: absolute;
    top: 50%;
    right: 40%;
    transform: translateY(-50%);
    background-color: red;
    padding: 50px 50px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

form input{
    display: block;
    padding: 10px;
    margin: 5px;
}

input[type=submit]{
   padding: 10px 75px;
   background-color: blue;
   border-radius: 5px;
   color: white;
   transition: 0.4s ease;
   cursor: pointer;
}

input[type=submit]:hover{
    background-color: white;
    color: blue;
}