*{
    padding: 0;
    margin: 0;
}

header{
    background:url(images/headerBack.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

ul{
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
    
}

li{
   float: right;
}


li a{
    display: block;
    text-decoration: none;
    color: white;
    padding:20px 40px;
    transition: 0.4s ease;
}

li a:hover{
    background-color: white;
    color: #333;
    border-radius: 10px;
}

main{
    text-align: center;
}

footer{
    padding: 50px 50px;
    text-align: center;
    background-color: black;
    color: white;
}

footer p{
    font-size: 15px;
}

img{
    width: 250px;
    height: 200px;
}

.logo{
    padding: 20px 40px;
    color: white;
    float:left;
    font-style: italic;
}

.welcome{
    padding: 200px 200px;
    text-align: center;
    color: white;
}

.welcome h1{
    padding-bottom:20px ;
    font-size: 45px;
}

.welcome p{
    font-size: 20px;
}

.blog{
    width: 20%;
    padding: 50px 50px;
    display: inline-block;
    background-color: black;
    color: white;
    margin: 5px 5px;
}

.blog-btn{
    padding: 10px 10px;
    margin-top: 5px;
    background-color:#e84545;
    border-radius: 10px;
    border: none;
    transition: 0.2s ease;
    color: white;
    cursor: pointer;
}

.blog-btn:hover{
    background-color: white;
    color: #e84545;
}